[submodule "gmod-module-base"]
	path = gmod-module-base
	url = https://github.com/timschumi/gmod-module-base
[submodule "curl-static-bin"]
	path = curl-static-bin
	url = https://github.com/timschumi/curl-static-bin
