[submodule "gmod-module-base"]
	path = gmod-module-base
	url = https://github.com/timschumi/gmod-module-base
[submodule "gmod-common-curl"]
	path = gmod-common-curl
	url = https://github.com/timschumi/gmod-common-curl
