name: New Version Tag

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: true

    - name: Build
      run: |
        export CHTTP_VERSION=$(git describe --tags | sed 's/^v//')
        echo "CHTTP_VERSION=${CHTTP_VERSION}" >> $GITHUB_ENV
        ./dist.sh

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        draft: true
        fail_on_unmatched_files: true
        generate_release_notes: true
        files: |
          dist/*
